/* animation LineOne */
.lineOne{
  animation-duration: 2s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: -100%;
  }

  to {
    margin-left: 0%;
  }
}
/* end animation LineOne */

/* animation LineTwo */
.lineTwo{
  animation-duration: 2s;
  animation-name: slideinTwo;
}

@keyframes slideinTwo {
  from {
    margin-left: -100%;
  }

  to {
    margin-left: 0%;
  }
}
/* end animation LineTwo */

/* animation LineThree */
.lineThree {
  animation-duration: 2s;
  animation-name: slideinThree;
}

@keyframes slideinThree {
  from {
    margin-left: 100%;
  }

  to {
    margin-left: 0%;
  }
}
/* end animation LineThree */

/* animation LineFour */
.lineFour {
  animation-duration: 3s;
  animation-name: slideinFour;
}

@keyframes slideinFour {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
  0%, 100% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}
/* end animation LineThree */

.spaces {
  padding: 20px 0px 20px 0px;
}

.spaces1 {
  padding: 50px 0px 20px 0px;
}

.spaces2 {
  margin-top: -180px;
  padding: 50px 0px 20px 0px;
}

.spaces3 {
  padding: 50px 0px 50px 0px;
}

.casos {
  border: 2px #333333 solid;
  margin: 20px 0px 20px 0px;
  font-size: 14px;
}

.imagOne {
  width: 190px;
  height: 190px;
}

.imagTwo {
  width: 190px;
  height: 190px;
  margin-left: -250px;
}

.imagThree {
  margin: -70px 0px 0px 0px;
}

.text_one {
  font-size: 16px;
  font-family: 'font-two';
  letter-spacing: 10px;
  text-transform: uppercase;
  text-align: left;
}

.text_two {
  font-size: 35px;
  font-family: 'font-one';
  letter-spacing: 5px;
  text-transform: uppercase;
  text-align: left;
}

.text_three {
  font-size: 60px;
  font-family: 'font-one';
  letter-spacing: 5px;
  text-transform: uppercase;
  text-align: left;
}

.text_three1 {
  font-size: 60px;
  font-family: 'font-one';
  letter-spacing: 5px;
  text-transform: uppercase;
  text-align: left;
  color: #000000;
}

.text_four {
  font-size: 18px;
  font-family: 'font-four';
  text-align: justify;
}

.lineOne {
  margin-left: -25px;
}

.lineTwo {
  margin-left: -190px;
}

.lineThree {
  margin-right:  -150px;
}

.lineFour {
  margin-left: 133px;
  margin-top: -11px;
  display: block;
}

.lineFive {
  width: 80%;
  margin-top: -50px;
}

.line_color {
  color: #02fd9c;
}

.bodytext {
  text-align: justify;
  font-family: 'font-three';
}

.bodytext1 {
  text-align: justify;
  font-family: 'font-three';
  color: #000000;
}

.boton-one {
  font-size: 20px;
  letter-spacing: 2px;
  font-family: 'font-one';
  border: 2px #02fd9c solid;
  text-decoration: none;
  padding: 10px 20px 10px 20px;
  border-radius: 50px;
}

.boton-two {
  font-size: 20px;
  letter-spacing: 2px;
  font-family: 'font-one';
  border: 2px #0ab8ce solid;
  text-decoration: none;
  padding: 10px 20px 10px 20px;
  border-radius: 50px;
}

.textBotonOne {
  color: #02fd9c;
}

.textBotonTwo {
  color: #0ab8ce;
}

.button:after {
  background: #1d1d1d;
}
.button2:after {
  background: #f0f0f0;
}

  /*GREEN*/
  .b-green, .b-green:before {
    background: rgba(2,253,156,1);
    background: -moz-linear-gradient(45deg, rgba(10,184,206,1) 0%, rgba(2,253,156,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(10,184,206,1)), color-stop(100%, rgba(2,253,156,1)));
    background: -webkit-linear-gradient(45deg, rgba(10,184,206,1) 0%, rgba(2,253,156,1) 100%);
    background: -o-linear-gradient(45deg, rgba(10,184,206,1) 0%, rgba(2,253,156,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(10,184,206,1) 0%, rgba(2,253,156,1) 100%);
    background: linear-gradient(45deg, rgba(10,184,206,1) 0%, rgba(2,253,156,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0ab8ce', endColorstr='#02fd9c', GradientType=1 );
  }

/*END GRADIENTS*/
/*BASE BUTTON*/
.button {
  position: relative;
  text-decoration: none;
  letter-spacing: 2px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;font-size: 18px;
  font-family: 'font-one';
  border: 2px solid transparent;
  border-image-slice: 1;
  padding: 10px 30px 10px 30px;
}
.button2 {
  position: relative;
  text-decoration: none;
  letter-spacing: 2px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;font-size: 18px;
  font-family: 'font-one';
  border: 2px solid transparent;
  border-image-slice: 1;
  padding: 10px 30px 10px 30px;
}
.button:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  border-radius: 100px;
  transition: all .5s;
}
.button2:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  border-radius: 100px;
  transition: all .5s;
}
.button:after {
  content: '';
  display: block;
  position: absolute;
  left: 2px;
  top: 2px;
  bottom: 2px;
  right: 2px;
  z-index: -1;
  border-radius: 100px;
  transition: all .5s;
}
.button2:after {
  content: '';
  display: block;
  position: absolute;
  left: 2px;
  top: 2px;
  bottom: 2px;
  right: 2px;
  z-index: -1;
  border-radius: 100px;
  transition: all .5s;
}
/* Boton degradado 2 */



.form-control {
  text-transform: uppercase;
  background-color: rgba(240, 240, 240, 0.1);
  border: none;
}

.form-control1 {
  text-transform: uppercase;
  background-color: #dfdfdf;
  border: none;
}

figcaption {
  text-align: right;
}

.text_Tel {
  font-size: 20px;
  font-family: 'font-one';
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 10px 0px 0px 0px
}
