<!--- color LInes --->
<div class="row">
  <div class="col-xl-8">
    <img src="assets/images/lineOne.png" class="img-fluid lineOne" alt="">
    <p></p>
    <img src="assets/images/lineTwo.png" class="img-fluid lineTwo" alt="">
  </div>
  <div class="col-xl-4">
    <img src="assets/images/lineThree.png" class="img-fluid align-items-end lineThree" alt="">
    <img src="assets/images/lineFour.png" class="img-fluid align-items-end lineFour" alt="">
  </div>
</div>

<!--- Title & icon --->
<div class="row title">
  <div class="col-xl-8">
    <p class="textOne">
      <strong>SERVICIOS</strong>
    </p>
    <p class="textTwo">
      <span class="lineColor">_</span>PUBLICIDAD DIGITAL
    </p>
  </div>
  <div class="col-xl-4">
    <img src="assets/images/svgAnimados/Icon1.svg" class="img-fluid iconOne" alt="">
  </div>
</div>

<div class="row">
  <div class="col-xl-12">
    <p class="bodyText">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <button type="button" class="btn btn-outline-secondary mx-auto d-block">_CONTÁCTANOS</button>
  </div>
</div>

<!--- Casos de éxito primera parte--->
<div class="row">
  <!-- Thumbnails w Popup image -->
  <div class="col-xl-4">
      <a href="https://dummyimage.com/552x218/000/fff&text=BABABA" class="popup-img">
        <img class="img-fluid casos" src="https://dummyimage.com/552x218/000/fff&text=BABABA" alt="...">
      </a>
  </div>
  <div class="col-xl-4">
      <a href="https://dummyimage.com/552x218/000/fff&text=BABABA" class="popup-img">
        <img class="img-fluid casos" src="https://dummyimage.com/552x218/000/fff&text=BABABA" alt="...">
      </a>
  </div>
  <div class="col-xl-4">
      <a href="https://dummyimage.com/552x218/000/fff&text=BABABA" class="popup-img">
        <img class="img-fluid casos" src="https://dummyimage.com/552x218/000/fff&text=BABABA" alt="...">
      </a>
  </div>
</div>

<!--- Casos de éxito segunda parte--->
<div class="row">
  <!-- Thumbnails w Popup image -->
  <div class="col-xl-4">
      <a href="https://dummyimage.com/552x218/000/fff&text=BABABA" class="popup-img">
        <img class="img-fluid casos" src="https://dummyimage.com/552x218/000/fff&text=BABABA" alt="...">
      </a>
  </div>
  <div class="col-xl-4">
      <a href="https://dummyimage.com/552x218/000/fff&text=BABABA" class="popup-img">
        <img class="img-fluid casos" src="https://dummyimage.com/552x218/000/fff&text=BABABA" alt="...">
      </a>
  </div>
  <div class="col-xl-4">
      <a href="https://dummyimage.com/552x218/000/fff&text=BABABA" class="popup-img">
        <img class="img-fluid casos" src="https://dummyimage.com/552x218/000/fff&text=BABABA" alt="...">
      </a>
  </div>
</div>

<!--- contact form --->
<div class="row form">
  <div class="col-sm-6 col-lg-7 mt30-xs rounded mx-auto d-block">
    <form data-toggle="validator" id="contactForm" name="contactForm">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <div class="controls">
              <input class="form-control" data-error="This section is required." id="name" placeholder="* Nombre" required="" type="text">
              <div class="help-block with-errors"></div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <div class="controls">
              <input class="email form-control" data-error="This section is required." id="email" placeholder="* Email" required="" type="email">
              <div class="help-block with-errors"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <div class="controls">
              <textarea class="form-control" data-error="This section is required." id="message" placeholder="* Mesaje" required="" rows="5"></textarea>
              <div class="help-block with-errors"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt15">
        <div class="col-sm-6">
          <div id="msgSubmit" class="h4 hidden mt10 no-margin-bottom"></div>
        </div>
        <div class="col-sm-6 text-right">
          <button type="submit" id="submit" class="btn btn-outline-secondary mx-auto d-block">_enviar</button>
        </div>
      </div>
    </form>
  </div>
</div>
