.section-home{
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
  padding-top: 3%;
  background: #141414; /* Old browsers */
  background: -moz-linear-gradient(45deg, #141414 0%, #2b2b2b 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #141414 0%,#2b2b2b 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #141414 0%,#2b2b2b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#141414', endColorstr='#2b2b2b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
