<section class="section-home">
  <app-header></app-header>
</section>
<section class="section-home">
 <app-main-title></app-main-title>
</section>
<section class="section-home">
  <app-carousel></app-carousel>
</section>
<section class="section-home">
  <app-grid-servicios></app-grid-servicios>
</section>
<section class="section-home">
  <app-nuevos-clientes></app-nuevos-clientes>
  <app-fidelizar-clientes></app-fidelizar-clientes>
</section>
<section class="section-home">
  <app-grid-clientes></app-grid-clientes>
</section>
<section class="section-home">
  <app-grid-blog></app-grid-blog>
</section>
<section class="section-home">
  <app-footer></app-footer>
</section>
