<div class="header container-fluid">
  <div class="row">
    <div class="col-md-3">
      <i class="fa fa-bars fa-5x" aria-hidden="true"></i>
    </div>
    <div class="col-md-6">
      <img src="../assets/img/logo_minimalist.png" alt="">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis voluptas quis quae aspernatur recusandae provident numquam exercitationem pariatur inventore alias sequi, beatae, necessitatibus, deserunt non expedita nostrum veritatis, ducimus dolor.</p>
    </div>
    <div class="col-md-3">
      <img src="../assets/img/facebook.png" alt="">
      <img src="../assets/img/instagram.png" alt="">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12"><i class="arrow material-icons">keyboard_arrow_down</i></div>
  </div>
</div>
