.textOne {
  font-size: 24px;
  color: #808080;
  padding-left: 40px;
  font-family: fontOne;
}

/* animation LineOne */
.lineOne{
  animation-duration: 2s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: -100%;
  }

  to {
    margin-left: 0%;
  }
}
/* end animation LineOne */

/* animation LineTwo */
.lineTwo{
  animation-duration: 2s;
  animation-name: slideinTwo;
}

@keyframes slideinTwo {
  from {
    margin-left: -100%;
  }

  to {
    margin-left: 0%;
  }
}
/* end animation LineTwo */

/* animation LineThree */
.lineThree {
  animation-duration: 2s;
  animation-name: slideinThree;
}

@keyframes slideinThree {
  from {
    margin-left: 100%;
  }

  to {
    margin-left: 0%;
  }
}
/* end animation LineThree */

/* animation LineFour */
.lineFour {
  animation-duration: 3s;
  animation-name: slideinFour;
}

@keyframes slideinFour {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
  0%, 100% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}
/* end animation LineThree */

.textTwo {
  font-size: 36px;
  color: #ffffff;
  padding-left: 40px;
  font-family: fontTwo;
}

.bodyText {
  font-size: 14px;
  color: #808080;
  text-align: justify;
  padding: 20px  40px 20px 40px;
}

.lineColor {
  color: #0ab8ce;
}

.btn-outline-secondary{
  border: 2px #0ab8ce solid;
  border-radius: 50px;
  color: #0ab8ce;
  margin: 20px 0px 20px 0px;
}

.casos {
  border: 2px #333333 solid;
  margin: 20px 0px 20px 0px;
  text-align: center;
}

.title, .form {
  margin: 50px 0px 50px 0px;
}

.form-control {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  text-transform: uppercase;
}

.iconOne {
  width: 190px;
  height: 190px;
}

.lineFour {
  position: relative;
  margin-top: -10px;
  margin-left: -10px;
}
