<div class="main-title" id="home">
  <div id="particles-js"></div><!-- /.particles div -->
  <div class="container">
    <div class="row justify-content-xl-center">
      <div class="col-md-12 text-center">
        <div class="title">
        <img class="img-min" src="../assets/images/logo.png" alt="logo:_Minimalist">
        <p class="desc">Lorem ipsum dolor sit am tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel </p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-1-12">
        <div class="arrow">
          <i class="icon ion-ios-arrow-down"></i>
        </div>
      </div>
    </div>
  </div>
</div>
