<!--main-->
<div class="row">
  <div class="col-xl-12">
    <div id="particles-js">
      <canvas class="particles-js-canvas-el" width="auto" height="auto" style="width: 100%; height: 70%;"></canvas>
    </div><!-- /.particles div -->
    <div class="title">
    <img class="img-min" src="../assets/images/logo.png" alt="logo:_Minimalist">
    <p class="desc">Lorem ipsum dolor sit am tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel </p>
    </div>
  </div>
</div>
<!--end-main-->

<!--arrow-->
<div class="row justify-content-center">
  <div class="col-12">
    <div class="arrow">
      <i class="icon ion-ios-arrow-down"></i>
    </div>
  </div>
</div>
<!--end-arrow-->
