<div class="container grid-clientes">
	<div class="row justify-content-xl-center">
		<div class="col-1-12">
      <div class="title-margin">
        <h2 class="title">clientes</h2>
        <hr class="gradient">
      </div>
		</div><!-- /.row -->
   <div class="row align-items-center">
      <div class="col-3">
        <div class="box-cliente">
          <img class="img-cliente" src="../assets/images/miele1.jpg" alt="logo_miele">
          <div class="overlay">
            <img class="img-cliente-hover" src="../assets/images/miele2.jpg" alt="logo_miele">
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="box-cliente">
          <img class="img-cliente" src="../assets/images/miele1.jpg" alt="logo_miele">
          <div class="overlay">
            <img class="img-cliente-hover" src="../assets/images/miele2.jpg" alt="logo_miele">
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="box-cliente">
          <img class="img-cliente" src="../assets/images/miele1.jpg" alt="logo_miele">
          <div class="overlay">
            <img class="img-cliente-hover" src="../assets/images/miele2.jpg" alt="logo_miele">
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="box-cliente">
          <img class="img-cliente" src="../assets/images/miele1.jpg" alt="logo_miele">
          <div class="overlay">
            <img class="img-cliente-hover" src="../assets/images/miele2.jpg" alt="logo_miele">
          </div>
        </div>
      </div>
    </div><!-- /.row -->
    <div class="row align-items-center">
      <div class="col-1-12">
        <div class="div-boton">
          <button type="button" name="button" class="boton">_ver más</button>
        </div>
      </div>
    </div><!-- /.row -->
	</div>
</div>
