<!--title-->
	<div class="row">
		<div class="col-xl-12">
      <div class="title-section">
				<h2 class="animated fadeInUp delay-1s title">clientes</h2>
        <hr class="gradient">
      </div>
		</div>
	</div>
<!--end-title-->

<!--clientes-->
   <div class="row">
      <div class="col-3">
        <div class="box-cliente">
          <img class="img-cliente" src="../assets/images/clientes-home/miele1.jpg" alt="logo_miele">
          <div class="overlay">
            <img class="img-cliente-hover" src="../assets/images/clientes-home/miele2.jpg" alt="logo_miele">
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="box-cliente">
          <img class="img-cliente" src="../assets/images/clientes-home/miele1.jpg" alt="logo_miele">
          <div class="overlay">
            <img class="img-cliente-hover" src="../assets/images/clientes-home/miele2.jpg" alt="logo_miele">
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="box-cliente">
          <img class="img-cliente" src="../assets/images/clientes-home/miele1.jpg" alt="logo_miele">
          <div class="overlay">
            <img class="img-cliente-hover" src="../assets/images/clientes-home/miele2.jpg" alt="logo_miele">
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="box-cliente">
          <img class="img-cliente" src="../assets/images/clientes-home/miele1.jpg" alt="logo_miele">
          <div class="overlay">
            <img class="img-cliente-hover" src="../assets/images/clientes-home/miele2.jpg" alt="logo_miele">
          </div>
        </div>
      </div>
    </div>
<!--end-clientes-->

<!--button-->
    <div class="row align-self-center">
      <div class="col-12">
        <div class="div-boton">
          <button type="button" name="button" class="boton">_ver más</button>
        </div>
      </div>
    </div>
<!--end-button-->
