<div class="container servicios">
	<div class="row justify-content-xl-center">
		<div class="col-1-12">
      <div class="title-margin">
        <h2 class="title">servicios</h2>
        <hr class="gradient">
      </div>
		</div><!-- /.row -->
    </div>
   <div class="row align-items-center">
      <div class="col-3">
        <div class="box-servicio">
          <img class="img-servicio" src="../assets/images/icon1color2.svg" alt="logo_miele">
          <div class="overlay">
            <img class="img-servicio-hover" src="../assets/images/icon1.svg" alt="logo_miele">
          </div>
          <div class="text-servicio">
            <div class="title-serv">publicidad digital</div>
            <p class="desc-serv">Lorem ipsum dolor sit amet consectetur adipiscing elit convallis quis commodo rhoncus mollis tempor, cum urna gravida eros vulputate mauris augue proin fermentum est aliquam.</p>
          </div>
          <div class="vl"></div>
        </div>
      </div>
      <div class="col-3">
        <div class="box-servicio">
          <img class="img-servicio" src="../assets/images/icon2.svg" alt="logo_miele">
          <div class="overlay">
            <img class="img-servicio-hover" src="../assets/images/icon2color2.svg" alt="logo_miele">
          </div>
          <div class="text-servicio">
            <div class="title-serv">desarollo</div>
            <p class="desc-serv">Lorem ipsum dolor sit amet consectetur adipiscing elit convallis quis commodo rhoncus mollis tempor, cum urna gravida eros vulputate mauris augue proin fermentum est aliquam.</p>
          </div>
          <div class="vl"></div>
        </div>
      </div>
      <div class="col-3">
        <div class="box-servicio">
          <img class="img-servicio" src="../assets/images/icon4.svg" alt="logo_miele">
          <div class="overlay">
            <img class="img-servicio-hover" src="../assets/images/icon4color2.svg" alt="logo_miele">
          </div>
          <div class="text-servicio">
            <div class="title-serv">social media</div>
            <p class="desc-serv">Lorem ipsum dolor sit amet consectetur adipiscing elit convallis quis commodo rhoncus mollis tempor, cum urna gravida eros vulputate mauris augue proin fermentum est aliquam.</p>
          </div>
          <div class="vl"></div>
        </div>
      </div>
      <div class="col-3">
        <div class="box-servicio">
          <img class="img-servicio" src="../assets/images/icon3color2.svg" alt="logo_miele">
          <div class="overlay">
            <img class="img-servicio-hover" src="../assets/images/icon3.svg" alt="logo_miele">
          </div>
          <div class="text-servicio">
            <div class="title-serv">data & mailing</div>
            <p class="desc-serv">Lorem ipsum dolor sit amet consectetur adipiscing elit convallis quis commodo rhoncus mollis tempor, cum urna gravida eros vulputate mauris augue proin fermentum est aliquam.</p>
          </div>
        </div>
      </div>
  </div>
</div>
